{% extends 'base.html' %}

{% load static %}

{% block title %}
    HOME
{% endblock title %}

{% block styles %}
<style>
    .btn {
        margin-top: 1rem;
        padding-top: 6.4px;
        padding-bottom: 6.4px;
        padding-right: 35.2px;
        padding-left: 35.2px;
        margin-left: 16px;
        font-family: 'Courier New', Courier, monospace;
        font-size: 16px;
      }
    
      .btn-light{
        background: rgb(134, 31, 65);
        border:rgb(134, 31, 65);
        border-width: 1.6px;
        border-style: solid;
        border-color: #263E53;
        color: white;
      }
    
      .btn-light:hover{
        background: rgb(134, 31, 65);
        border:rgb(134, 31, 65);
        border-width: 1.6px;
        border-style: solid;
        border-color: #263E53;
        color: white;
        text-decoration: underline;
      }
    
      .btn-outline-light{
        border: #fff;
        border-width: 1.6px;
        border-style: solid;
        border-color: black;
        color: black;
      }
    
      .btn-outline-light:hover{
        border: #fff;
        border-width: 1.6px;
        border-style: solid;
        border-color: black;
        color: black;
        text-decoration: underline;
      }
</style>
{% endblock %}

{% block link %}
<link rel="stylesheet" href="{% static 'template.css' %}">
{% endblock link %}

{% block content %}
<br>
<div class="container">
    {% for user in object_list %}
        {{ user }}<br><br>
        <a href="{% url 'info:user-pdf-view' user.pk %}"><button class="btn btn-light">view</button></a>
        <a href="{% url 'info:user-pdf-download' user.pk %}"><button class="btn btn-outline-light">download</button></a>
        <br>
        <hr>
    {% endfor %}  
</div>
      
{% endblock content %}