.btn {
    margin-top: 1rem;
    padding-top: 6.4px;
    padding-bottom: 6.4px;
    padding-right: 35.2px;
    padding-left: 35.2px;
    margin-left: 16px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
  }

  .btn-light{
    background: rgb(134, 31, 65);
    border:rgb(134, 31, 65);
    border-width: 1.6px;
    border-style: solid;
    border-color: #263E53;
    color: white;
  }

  .btn-light:hover{
    background: rgb(134, 31, 65);
    border:rgb(134, 31, 65);
    border-width: 1.6px;
    border-style: solid;
    border-color: #263E53;
    color: white;
    text-decoration: underline;
  }

  .btn-outline-light{
    border: #fff;
    border-width: 1.6px;
    border-style: solid;
    border-color: black;
    color: black;
  }

  .btn-outline-light:hover{
    border: #fff;
    border-width: 1.6px;
    border-style: solid;
    border-color: black;
    color: black;
    text-decoration: underline;
  }